body { 
    background: black; 
    color: white; 
    font-family: 'Courier New', monospace; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
    margin: 0; 
    overflow: hidden; 
}

/* UI Combat */
.undertale-ui { 
    width: 600px; 
    text-align: center; 
    transition: opacity 1.5s ease; 
    opacity: 1; 
}

.hidden-ui { 
    opacity: 0; 
    pointer-events: none; 
}

.enemy-stats { 
    transition: opacity 2s ease; 
}

.enemy-hp-container { 
    width: 150px; 
    height: 12px; 
    background: #444; 
    margin: 5px auto; 
    border: 2px solid white; 
}

.enemy-hp-fill { 
    width: 100%; 
    height: 100%; 
    background: #32cd32; 
    transition: width 0.4s; 
}

.enemy-sprite { 
    height: 180px; 
    image-rendering: pixelated; 
    transition: opacity 2s ease; 
}

.battle-box { 
    border: 6px solid white; 
    height: 120px; padding: 15px; 
    text-align: left; 
    margin: 20px 0; 
}

.hp-bar-container { 
    width: 120px; 
    height: 20px; 
    background: red; 
    margin: 0 15px; 
}

.hp-bar-fill {
    background: yellow; 
    height: 100%; 
    width: 100%; 
    transition: width 0.4s; 
}

.player-stats { 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    font-weight: bold; 
}

/* Boutons */
.action-buttons { 
    display: flex; 
    justify-content: space-around; 
}

.btn-undertale {
    background: black; 
    border: 3px solid #ff4d4d; 
    color: #ff4d4d; 
    padding: 10px; 
    font-size: 20px; 
    cursor: pointer; 
    width: 140px; 
}

.mercy { 
    border-color: #3399ff; 
    color: #3399ff; 
}

/* SCÈNE FINALE */
#final-scene {
    position: fixed;
    top: 0; left: 0; width: 100vw; height: 100vh;
    opacity: 0; display: none; /* Invisible par défaut */
    transition: opacity 2s ease-in;
    z-index: 100;
}
.visible-scene { display: block !important; opacity: 1 !important; }

.fullscreen-img { 
    width: 33%;
    position: relative;
    top: 25%;
    left: 33%;
}

/* Bouton Retry sur l'image */
.retry-overlay {
    position: absolute;
    bottom: 15%; left: 50%;
    transform: translateX(-50%);
    z-index: 101;
    border-color: white; color: white;
}

.fade-out { opacity: 0; }
.shake { animation: shake 0.5s; }
@keyframes shake { 0%, 100% {transform: translate(0);} 20%, 60% {transform: translate(-5px);} 40%, 80% {transform: translate(5px);} }