version: "3.9"

services:
  api:
    build:
      context: .
      dockerfile: Dockerfile.api
    container_name: api
    ports:
      - "3000:3000"
    env_file:
      - .env
    depends_on:
      - mongodb
    networks:
      - mongodb_network

  front:
    build:
      context: .
      dockerfile: Dockerfile.front
    container_name: front
    ports:
      - "8100:80"
    depends_on:
      - api
    networks:
      - mongodb_network

  mongodb:
    image: mongo:latest
    container_name: mongodb
    hostname: mongodb
    volumes:
    - mongodb_data:/data/db

    env_file:
      - .env
    environment:
      - MONGO_CONFIG_MONGODB_ADMINISTRATOR_USERNAME=${MONGO_INITDB_ROOT_USERNAME}
      - MONGO_CONFIG_MONGODB_ADMINISTRATOR_PASSWORD=${MONGO_INITDB_ROOT_PASSWORD}
    ports:
      - "27017:27017"
    networks:
      - mongodb_network

  dbgate:
    image: dbgate/dbgate:latest
    container_name: dbgate
    hostname: dbgate
    ports:
      - "8081:3000"
    depends_on:
      - mongodb
    networks:
      - mongodb_network

volumes:
  mongodb_data:
    driver: local
    name: mongodb_data

networks:
  mongodb_network:
    driver: bridge
    name: mongodb_network
